# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cpython

# Arquivos Python compilados
*.pyc

# ----------------------------------------
# Ambientes Virtuais
# ----------------------------------------
.env
.env.*
.venv/
venv/
env/

# ----------------------------------------
# Flask
# ----------------------------------------
instance/
.flaskenv

# ----------------------------------------
# Editor / IDE / Sistema
# ----------------------------------------
.vscode/
.idea/
*.swp
*.bak
*.orig
*~
.DS_Store
Thumbs.db

# ----------------------------------------
# Logs
# ----------------------------------------
*.log

# ----------------------------------------
# Banco de Dados
# ----------------------------------------
*.db
*.sqlite
*.sqlite3
*.db.bkp

# ----------------------------------------
# Backups / Arquivos Gerados
# ----------------------------------------
backups/
*.backup
*.backup_*
*.manual
*.bkp

# Ignore HTML e Python backups
*.html.backup*
*.py.backup*

# ----------------------------------------
# Outros
# ----------------------------------------
*.txt
